<!DOCTYPE html>
<html>
  <head>
       <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<p> The result of <%= oper1 %> <%= oper %> <%= oper2 %> is <%= answer %>. </p>
    
  </body>
</html>